.skills{
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 150px;
    width: 95%;
}

.skillcards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px;

}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--orange);
    padding: 10px;
    border-radius: 8px;
    /* background: linear-gradient(to right, orange, yellow); */

    transition: background 0.3s, transform 0.3s;
    
}
.card > span{
    padding: 10px;
    font-size: x-large;
    text-align: center;
}
.card:hover{
    background: linear-gradient(to right, orange, yellow); /* Keep the same gradient on hover */
    transform: scale(1.05);
}
@media screen and (max-width:480px){
    
    .skillcards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .card{
        width: 140px;
    }
}
